# Mins          Hours  Days   Months  Day of the week   Command
  5             0-23   *      *       *                 emerge -auvpDNU --with-bdeps=y @world | grep Total | awk '{print $2}' | tee ~/.cache/pkgs.count
  0,15,30,45    0-23   *      *       *                 curl wttr.in/?format="%r+%C+%t(Feels+%f)+%h+%w\n" | tee ~/.cache/weather
