# Mins  Hours  Days   Months  Day of the week   Command
  5     0-23   *      *       *                 emerge -auvpDNU --with-bdeps=y @world | grep Total | awk '{print $2}' | tee ~/.cache/pkgs.count
  0,30  0-23   *      *       *                 curl wttr.in/?format="%C+%t(%f)+%h+%w+%r\n" | tee ~/.cache/weather
